---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import FeaturedProjects from "../components/FeaturedProjects.astro";
import Testimonials from "../components/Testimonials.astro";
import Services from "../components/Services.astro";

---

<Layout title="Nosyt Labs - Web Development & AI Integration">
  <main>
    <!-- Hidden headings for accessibility and SEO -->
    <h1 class="sr-only">Nosyt Labs - Web Development & AI Integration</h1>
    <h2 class="sr-only">Innovative Technology Solutions for Your Business</h2>
    
    <Hero />
    <Services />
    <FeaturedProjects />
    <Testimonials />
  </main>
</Layout>